{% load common_filters %}
<div class="article-static-page">
  <article>
    <h1>
      {{ article.title }}
      {% if article.published_at %}
        <span class="published-date">{{ article.published_at|parse_iso|date:"M d, Y" }}</span>
      {% else %}
        <span class="draft-badge">Draft</span>
      {% endif %}
    </h1>
    <div class="article-card-meta">
      {% for tag in article.tags %}
        <span class="article-tag-badge" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
      {% endfor %}
      <br>
      By
      {% if article.author.public_id %}
        <a href="/users/id/{{ article.author.public_id }}">{{ article.author.title }}</a>
      {% else %}
        {{ article.author.title }}
      {% endif %}
      {% if article.published_at %} &middot; {{ article.published_at|parse_iso|date:"M d, Y" }}{% endif %}
    </div>
    <div class="rich-text-display">
      {{ article.content|safe }}
    </div>
  </article>
</div>
